{% extends "index.html" %}

{% block content %}
    <div class="jumbotron content-section col-md-8 pl-5 mt-3 ml-3">
        <h1>About Final-Project Movie Info App</h1><br>
        <p>This web app's function is to enable a user to search for a movie using
            the search box and obtaining information about a movie through https://www.omdbapi.com/ site's
            API.</p>
        <p>Registered/logged in user could also create a comment on a movie which would then be saved into a database and displayed in the 
            commentary section for it to be visible for other users.</p>
        <p>Besides login and register functions, user can also reset password, change profile picture, 
            delete, change or post comments</p>
        <p>This app was created by implementing ideas, knowledge, and certain code parts from the following sources:
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary"><a href="http://flask.pocoo.org/" target="_blank">http://flask.pocoo.org/</a></li>
                <li class="list-group-item list-group-item-primary"><a href="http://flask-sqlalchemy.pocoo.org/2.3//" target="_blank">http://flask-sqlalchemy.pocoo.org/2.3//</a></li>
                <li class="list-group-item list-group-item-primary"><a href="https://pythonhosted.org/Flask-Mail/" target="_blank">https://pythonhosted.org/Flask-Mail/</a></li>
                <li class="list-group-item list-group-item-primary"><a href="https://flask-wtf.readthedocs.io/en/stable/" target="_blank">https://flask-wtf.readthedocs.io/en/stable/</a></li>
                <li class="list-group-item list-group-item-primary"><a href="https://flask-bcrypt.readthedocs.io/en/latest/" target="_blank">https://flask-bcrypt.readthedocs.io/en/latest/</a></li>
                <li class="list-group-item list-group-item-primary"><a href="https://pythonhosted.org/Flask-Mail/" target="_blank">https://pythonhosted.org/Flask-Mail/</a></li>
                <li class="list-group-item list-group-item-primary"><a href="https://www.youtube.com/user/schafer5" target="_blank">https://www.youtube.com/user/schafer5</a></li>
                <li class="list-group-item list-group-item-primary"><a href="https://www.youtube.com/user/TechGuyWeb" target="_blank">https://www.youtube.com/user/TechGuyWeb</a></li>
                <li class="list-group-item list-group-item-secondary"><a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></li>
                <li class="list-group-item list-group-item-secondary"><a href="https://bootswatch.com/" target="_blank">https://bootswatch.com/</a></li>
                <li class="list-group-item list-group-item-secondary"><a href="https://code.jquery.com/" target="_blank">https://code.jquery.com/</a></li>
                <li class="list-group-item list-group-item-secondary"><a href="https://bootswatch.com/" target="_blank">https://bootswatch.com/</a></li>    
                <li class="list-group-item list-group-item-secondary"><a href="http://flag-icon-css.lip.is/" target="_blank">http://flag-icon-css.lip.is/</a></li>    
                <li class="list-group-item list-group-item-secondary"><a href="https://pythonhosted.org/itsdangerous/" target="_blank">https://pythonhosted.org/itsdangerous/</a></li>    
            </ul>
        </p>
    </div>
{% endblock content %}