#movies img, #movie img {
    width: 100%;
}

.container{
    padding-top: 5px;
    margin-top: 2em;
}

html body section#footer {
    margin-top: 4em;
}

.flag{
    width: 40px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 40%;
}


@media(min-width:960px){
    #movies .col-md-3 .well {
        height: 380px;
    }

    #movies .col-md-3 img{
        height: 245px;
    }
}