#movies img, #movie img {
    width: 100%;
}

.container{
    padding-top: 5px;
    margin-top: 2em;
}

html body section#footer {
    margin-top: 4em;
}

@media(min-width:960px){
    #movies .col-md-3 .well {
        height: 380px;
    }

    #movies .col-md-3 img{
        height: 245px;
    }
}